<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/user/layout}">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
<!--/*@thymesVar id="data" type="org.carbon.sample.heroku.web.user.UserSignUpForm"*/-->
<section layout:fragment="content">
	<div class="row">
		<h3 class="col s10 offset-s2">Your register information</h3>
	</div>
	<div class="row">
		<div class="col s8 offset-s2 card-panel">
			<div class="row">
				<div class="input-field col s12">
					<p th:text="${data.username}"></p>
				</div>
				<div class="input-field col s12">
					<p th:text="${data.email}"></p>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>