markdown {
    background-color: #282c34;
    color: #abb2bf;
}

markdown .line.cursor-line {
    background-color: rgba(153, 187, 255, 0.04);
}

markdown .invisible {
    color: #abb2bf;
}

markdown .cursor {
    border-left: 2px solid #528bff;
}

markdown .selection .region {
    background-color: #3e4451;
}

markdown .bracket-matcher .region {
    border-bottom: 1px solid #528bff;
    box-sizing: border-box;
}

markdown .invisible-character {
    color: rgba(171, 178, 191, 0.15);
}

markdown .indent-guide {
    color: rgba(171, 178, 191, 0.15);
}

markdown .wrap-guide {
    background-color: rgba(171, 178, 191, 0.15);
}

markdown .find-result .region.region.region,
markdown .current-result .region.region.region {
    border-radius: 2px;
    background-color: rgba(82, 139, 255, 0.24);
    transition: border-color 0.4s;
}

markdown .find-result .region.region.region {
    border: 2px solid transparent;
}

markdown .current-result .region.region.region {
    border: 2px solid #528bff;
    transition-duration: .1s;
}

markdown .gutter .line-number {
    color: #636d83;
    -webkit-font-smoothing: antialiased;
}

markdown .gutter .line-number.cursor-line {
    color: #abb2bf;
    background-color: #2c313a;
}

markdown .gutter .line-number.cursor-line-no-selection {
    background-color: transparent;
}

markdown .gutter .line-number .icon-right {
    color: #abb2bf;
}

markdown .gutter:not(.git-diff-icon) .line-number.git-line-removed.git-line-removed::before {
    bottom: -3px;
}

markdown .gutter:not(.git-diff-icon) .line-number.git-line-removed::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 25px;
    border-bottom: 1px dotted rgba(224, 82, 82, 0.5);
    pointer-events: none;
}

markdown .gutter .line-number.folded,
markdown .gutter .line-number:after,
markdown .fold-marker:after {
    color: #abb2bf;
}

.editor-colors {
    margin: 1.5em 0;
    padding: 1em;
    font-size: .92em;
    border-radius: 3px;
    background-color: #31363f;
}

div.line {
    white-space: pre;
}

.lang-text {
    color: #fff;
}

.syntax--comment {
    color: #5c6370;
    font-style: italic;
}

.syntax--comment .syntax--markup.syntax--link {
    color: #5c6370;
}

.syntax--entity.syntax--name.syntax--type {
    color: #e5c07b;
}

.syntax--entity.syntax--other.syntax--inherited-class {
    color: #98c379;
}

.syntax--keyword {
    color: #c678dd;
}

.syntax--keyword.syntax--control {
    color: #c678dd;
}

.syntax--keyword.syntax--operator {
    color: #abb2bf;
}

.syntax--keyword.syntax--other.syntax--special-method {
    color: #61afef;
}

.syntax--keyword.syntax--other.syntax--unit {
    color: #d19a66;
}

.syntax--storage {
    color: #c678dd;
}

.syntax--storage.syntax--type.syntax--annotation,
.syntax--storage.syntax--type.syntax--primitive {
    color: #c678dd;
}

.syntax--storage.syntax--modifier.syntax--package,
.syntax--storage.syntax--modifier.syntax--import {
    color: #abb2bf;
}

.syntax--constant {
    color: #d19a66;
}

.syntax--constant.syntax--variable {
    color: #d19a66;
}

.syntax--constant.syntax--character.syntax--escape {
    color: #56b6c2;
}

.syntax--constant.syntax--numeric {
    color: #d19a66;
}

.syntax--constant.syntax--other.syntax--color {
    color: #56b6c2;
}

.syntax--constant.syntax--other.syntax--symbol {
    color: #56b6c2;
}

.syntax--variable {
    color: #e06c75;
}

.syntax--variable.syntax--interpolation {
    color: #be5046;
}

.syntax--variable.syntax--parameter {
    color: #abb2bf;
}

.syntax--string {
    color: #98c379;
}

.syntax--string.syntax--regexp {
    color: #56b6c2;
}

.syntax--string.syntax--regexp .syntax--source.syntax--ruby.syntax--embedded {
    color: #e5c07b;
}

.syntax--string.syntax--other.syntax--link {
    color: #e06c75;
}

.syntax--punctuation.syntax--definition.syntax--comment {
    color: #5c6370;
}

.syntax--punctuation.syntax--definition.syntax--method-parameters,
.syntax--punctuation.syntax--definition.syntax--function-parameters,
.syntax--punctuation.syntax--definition.syntax--parameters,
.syntax--punctuation.syntax--definition.syntax--separator,
.syntax--punctuation.syntax--definition.syntax--seperator,
.syntax--punctuation.syntax--definition.syntax--array {
    color: #abb2bf;
}

.syntax--punctuation.syntax--definition.syntax--heading,
.syntax--punctuation.syntax--definition.syntax--identity {
    color: #61afef;
}

.syntax--punctuation.syntax--definition.syntax--bold {
    color: #e5c07b;
    font-weight: bold;
}

.syntax--punctuation.syntax--definition.syntax--italic {
    color: #c678dd;
    font-style: italic;
}

.syntax--punctuation.syntax--section.syntax--embedded {
    color: #be5046;
}

.syntax--punctuation.syntax--section.syntax--method,
.syntax--punctuation.syntax--section.syntax--class,
.syntax--punctuation.syntax--section.syntax--inner-class {
    color: #abb2bf;
}

.syntax--support.syntax--class {
    color: #e5c07b;
}

.syntax--support.syntax--type {
    color: #56b6c2;
}

.syntax--support.syntax--function {
    color: #56b6c2;
}

.syntax--support.syntax--function.syntax--any-method {
    color: #61afef;
}

.syntax--entity.syntax--name.syntax--function {
    color: #61afef;
}

.syntax--entity.syntax--name.syntax--class,
.syntax--entity.syntax--name.syntax--type.syntax--class {
    color: #e5c07b;
}

.syntax--entity.syntax--name.syntax--section {
    color: #61afef;
}

.syntax--entity.syntax--name.syntax--tag {
    color: #e06c75;
}

.syntax--entity.syntax--other.syntax--attribute-name {
    color: #d19a66;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--id {
    color: #61afef;
}

.syntax--meta.syntax--class {
    color: #e5c07b;
}

.syntax--meta.syntax--class.syntax--body {
    color: #abb2bf;
}

.syntax--meta.syntax--method-call,
.syntax--meta.syntax--method {
    color: #abb2bf;
}

.syntax--meta.syntax--definition.syntax--variable {
    color: #e06c75;
}

.syntax--meta.syntax--link {
    color: #d19a66;
}

.syntax--meta.syntax--require {
    color: #61afef;
}

.syntax--meta.syntax--selector {
    color: #c678dd;
}

.syntax--meta.syntax--separator {
    background-color: #373b41;
    color: #abb2bf;
}

.syntax--meta.syntax--tag {
    color: #abb2bf;
}

.syntax--underline {
    text-decoration: underline;
}

.syntax--none {
    color: #abb2bf;
}

.syntax--invalid.syntax--deprecated {
    color: #523d14 !important;
    background-color: #e0c285 !important;
}

.syntax--invalid.syntax--illegal {
    color: #ffffff !important;
    background-color: #e05252 !important;
}

.syntax--markup.syntax--bold {
    color: #d19a66;
    font-weight: bold;
}

.syntax--markup.syntax--changed {
    color: #c678dd;
}

.syntax--markup.syntax--deleted {
    color: #e06c75;
}

.syntax--markup.syntax--italic {
    color: #c678dd;
    font-style: italic;
}

.syntax--markup.syntax--heading {
    color: #e06c75;
}

.syntax--markup.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: #61afef;
}

.syntax--markup.syntax--link {
    color: #c678dd;
}

.syntax--markup.syntax--inserted {
    color: #98c379;
}

.syntax--markup.syntax--quote {
    color: #d19a66;
}

.syntax--markup.syntax--raw {
    color: #98c379;
}

.syntax--source.syntax--c .syntax--keyword.syntax--operator {
    color: #c678dd;
}

.syntax--source.syntax--cpp .syntax--keyword.syntax--operator {
    color: #c678dd;
}

.syntax--source.syntax--cs .syntax--keyword.syntax--operator {
    color: #c678dd;
}

.syntax--source.syntax--css .syntax--property-name,
.syntax--source.syntax--css .syntax--property-value {
    color: #828997;
}

.syntax--source.syntax--css .syntax--property-name.syntax--support,
.syntax--source.syntax--css .syntax--property-value.syntax--support {
    color: #abb2bf;
}

.syntax--source.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;
}

.syntax--source.syntax--gfm .syntax--link .syntax--entity {
    color: #61afef;
}

.syntax--source.syntax--go .syntax--storage.syntax--type.syntax--string {
    color: #c678dd;
}

.syntax--source.syntax--ini .syntax--keyword.syntax--other.syntax--definition.syntax--ini {
    color: #e06c75;
}

.syntax--source.syntax--java .syntax--storage.syntax--modifier.syntax--import {
    color: #e5c07b;
}

.syntax--source.syntax--java .syntax--storage.syntax--type {
    color: #e5c07b;
}

.syntax--source.syntax--java .syntax--keyword.syntax--operator.syntax--instanceof {
    color: #c678dd;
}

.syntax--source.syntax--java-properties .syntax--meta.syntax--key-pair {
    color: #e06c75;
}

.syntax--source.syntax--java-properties .syntax--meta.syntax--key-pair > .syntax--punctuation {
    color: #abb2bf;
}

.syntax--source.syntax--js .syntax--keyword.syntax--operator {
    color: #56b6c2;
}

.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--delete,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--in,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--of,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--instanceof,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--new,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--typeof,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--void {
    color: #c678dd;
}

.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--string.syntax--quoted.syntax--json {
    color: #e06c75;
}

.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--string.syntax--quoted.syntax--json > .syntax--punctuation.syntax--string {
    color: #e06c75;
}

.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json,
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--array.syntax--json > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json,
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json > .syntax--punctuation,
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--array.syntax--json > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json > .syntax--punctuation {
    color: #98c379;
}

.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--constant.syntax--language.syntax--json,
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--array.syntax--json > .syntax--constant.syntax--language.syntax--json {
    color: #56b6c2;
}

.syntax--source.syntax--ruby .syntax--constant.syntax--other.syntax--symbol > .syntax--punctuation {
    color: inherit;
}

.syntax--source.syntax--python .syntax--keyword.syntax--operator.syntax--logical.syntax--python {
    color: #c678dd;
}

.syntax--source.syntax--python .syntax--variable.syntax--parameter {
    color: #d19a66;
}
