<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<!--/*@thymesVar id="model" type="org.carbon.sample.domain.entity.Product"*/-->
<head>
    <meta charset="UTF-8">
    <title th:title="${model.getName()}"></title>
</head>
<body>
    <h1>Product Detail is below</h1>
    <h3>ID: </h3><pre th:text="${model.getId()}"></pre>
    <h3>Price: </h3><pre th:text="${model.getPrice()}"></pre>
    <h3>Name: </h3><pre th:text="${model.getName()}"></pre>
</body>
</html>