<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dabunt Sample</title>
</head>
<body>
<h1>Test Result Below</h1>
<p>
    about cookie and form data
</p>
<form action="/form/auth" method="POST">
    <label for="username" >username</label>
    <input type="text" name="username" id="username"/>
    <label for="password" >password</label>
    <input type="password" name="password" id="password"/>
    <input type="submit" />
</form>
</body>
</html>
