<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dabunt Sample</title>
</head>
<body>
<h1>Form Auth Secret Page!</h1>
<p>
    this is secret page secured by form auth
</p>

<ul th:if="${model}">
    <li>
        <pre>username:::<span th:text="${model.username}"></span></pre>
    </li>
    <li>
        <pre>password:::<span th:text="${model.password}"></span></pre>
    </li>
</ul>
<ul th:if="${loginInfo}">
    <li th:text="${loginInfo.username}"></li>
    <li th:text="${loginInfo.datetime}"></li>
</ul>
</body>
</html>
