<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
      layout:decorate="~{/base/layout}">
<head>
	<meta charset="UTF-8">
	<title>Blogs</title>
</head>
<body>
<!--/*@thymesVar id="data" type="java.util.List<org.carbon.sample.v2.ext.jooq.tables.pojos.Blog>"*/-->
<!--/*@thymesVar id="blog" type="org.carbon.sample.v2.ext.jooq.tables.pojos.Blog"*/-->
<section layout:fragment="content">
	<div class="row">
		<div class="col s12">
			<h4>Blogs</h4>
		</div>
		<a th:each="blog : ${data}" class="card-panel col s12" th:href="'/blog/entry/'+${blog.id}">
			<p th:text="${blog.title}"></p>
			<p th:text="${blog.summary}"></p>
		</a>
	</div>
</section>
</body>
</html>