<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="ja" lang="ja"
      layout:decorate="~{/business/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">講師一覧</title>
</head>
<body>
<section layout:fragment="content">
    <!--/*@thymesVar id="model" type="org.carbon.sample.web.business.dto.LecturerRoomDto"*/-->
    <!--/*@thymesVar id="errors" type="java.util.Map<String, String>"*/-->
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a th:href="@{/business/home}" class="breadcrumb">HOME</a>
                <a href="#" class="breadcrumb">講義</a>
                <a href="#" class="breadcrumb">作成</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <form method="POST" action="/business/room/create" class="col s12">
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix">mode_edit</i>
                        <th:block th:with="showError=${errors and errors.containsKey('roomName')}">
                            <input id="room_name" type="text" name="roomName">
                            <label for="room_name">講義タイトル</label>
                            <span class="new badge red"
                                  data-badge-caption=""
                                  th:if="${showError}"
                                  th:text="${errors.get('roomName')}"
                            ></span>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix">assignment</i>
                        <th:block th:with="showError=${errors and errors.containsKey('roomDetail')}">
                            <textarea class="materialize-textarea" id="room_detail" name="roomDetail"></textarea>
                            <label for="room_detail">講義詳細</label>
                            <span class="new badge red"
                                  data-badge-caption=""
                                  th:if="${showError}"
                                  th:text="${errors.get('roomDetail')}"
                            ></span>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix">av_timer</i>
                        <th:block th:with="showError=${errors and errors.containsKey('beginDatetime')}">
                            <input id="room_begin_datetime" type="text" name="beginDatetime">
                            <label for="room_begin_datetime">開始時刻</label>
                            <span class="new badge red"
                                  data-badge-caption=""
                                  th:if="${showError}"
                                  th:text="${errors.get('beginDatetime')}"
                            ></span>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix">av_timer</i>
                        <th:block th:with="showError=${errors and errors.containsKey('endDatetime')}">
                            <input id="room_end_datetime" type="text" name="endDatetime">
                            <label for="room_end_datetime">終了時刻</label>
                            <span class="new badge red"
                                  data-badge-caption=""
                                  th:if="${showError}"
                                  th:text="${errors.get('endDatetime')}"
                            ></span>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 offset-s3">
                        <button class="waves-effect waves-light btn-large">
                            <i class="material-icons left">mode_edit</i>
                            作成する
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
