<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="ja" lang="ja"
      layout:decorate="~{/consumer/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">講師一覧</title>
</head>
<body>
<section layout:fragment="content">
    <!--/*@thymesVar id="model" type="org.carbon.sample.web.consumer.dto.LectureRoomDto"*/-->
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <div class="col s12">
                    <a th:href="@{/consumer/lecturers}" class="breadcrumb">講師</a>
                    <a href="#" class="breadcrumb" th:text="|${model.lecturer.username} さん|"></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col s12 m6" th:each="room : ${model.rooms}">
                <th:block th:if="${room}">
                    <div class="card medium blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title" th:text="${room.roomName}"></span>
                            <p class="clamp_room" th:text="${room.roomDetail}"></p>
                            <br />
                            <div class="divider"></div>
                            <h6>開催時間</h6>
                            <i class="material-icons tiny">av_timer</i>
                            <span th:text="${#temporals.format(room.beginDatetime, 'yyyy年MM月dd日 HH時mm分')}"></span>
                            <br />
                            <i class="material-icons tiny">swap_calls</i>
                            <br />
                            <i class="material-icons tiny">av_timer</i>
                            <span th:text="${#temporals.format(room.endDatetime, 'yyyy年MM月dd日 HH時mm分')}"></span>
                        </div>
                        <div class="card-action">
                            <a href="#">応募する</a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</section>
</body>
</html>
