<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<footer layout:fragment="footer" class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Help Carbon Grow</h5>
				<p class="grey-text text-lighten-4">
					We hope you have enjoyed using Carbon!
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="https://github.com/ShotaOd/Carbon">Github</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2017 Carbon Shota Oda, All rights reserved.
		</div>
	</div>
</footer>
</body>
</html>