<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{/templates/base/layout}">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <h2>Not Found</h2>
        <p>This is not the web page you are looking for.</p>
    </div>
</section>
</body>
</html>