<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
      layout:decorate="~{/base/layout}">
<head>
	<meta charset="UTF-8">
	<title>OAuth2</title>
</head>
<body>
<section layout:fragment="content">
	<div class="row">
		<div class="col s12">
			<p><span th:text="${host}"></span> is requesting authentication(s) below.</p>
		</div>
		<div class="col s12">
			<!--/*@thymesVar id="scopes" type="java.util.List<org.carbon.sample.heroku.web.auth.AuthScope>"*/-->
			<ul class="collection" th:each="scope : ${scopes}" th:switch="${scope.code}">
				<li class="collection-item" th:case="read_profile">read profile</li>
				<li class="collection-item" th:case="update_profile">update profile</li>
			</ul>
		</div>
		<div class="col s12">
			<form method="post" action="/auth/security/login" class="col s8 offset-s2 card-panel">
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" name="email">
						<label for="email">email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" name="password">
						<label for="password">password</label>
					</div>
				</div>

				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-light" type="submit" name="action">
							Sign in
							<i class="material-icons right">send</i>
						</button>
						<a class="btn waves-effect waves-light" type="button" href="/sample/security/signup">
							Sign up
							<i class="material-icons right">send</i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
</body>
</html>
