<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dabunt Sample</title>
</head>
<body>
<h1>Basic Auth Top</h1>
<pre>under /basic is protected by basic auth</pre>
<h2>Index</h2>
<ul>
    <li><a href="/basic/secret/1">secret1</a></li>
    <li><a href="/basic/secret/2">secret2</a></li>
    <li><a href="/basic/secret/3">secret3</a></li>
    <li><a href="/basic/secret/4">secret4</a></li>
    <li><a href="/basic/secret/5">secret5</a></li>
</ul>
</body>
</html>
