<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{/sample/security/layout}">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
<section layout:fragment="content">
	<div class="row">
		<div class="section valign-wrapper">
			<h5>Secret Content</h5>
			<a class="waves-effect waves-light btn right" href="/sample/security/logout">
				<i class="material-icons right">exit_to_app</i>
				logout
			</a>
		</div>
		<div class="divider"></div>
		<br>
		<div class="col s4">
			<img src="https://sc.mogicons.com/c/265.jpg">
		</div>
		<div class="col s8">
			<iframe src="https://en.wikipedia.org/wiki/Secrecy" style="height: 400px"></iframe>
		</div>
	</div>
</section>
</body>
</html>