<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="ja" lang="ja"
      layout:decorate="~{/business/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">講義一覧</title>
</head>
<body>
<section layout:fragment="content">
    <!--/*@thymesVar id="model" type="org.dabuntu.sample.web.business.dto.LecturerRoomDto"*/-->
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a th:href="@{/business/home}" class="breadcrumb">HOME</a>
                <a href="#" class="breadcrumb" th:text="講義"></a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col s4">
                <a class="waves-effect waves-light btn-large"
                   th:href="@{/business/room/create}"
                >
                    <i class="material-icons left">mode_edit</i>
                    新規作成
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s6" th:each="room : ${model.rooms}">
                <div class="card large blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title" th:text="${room.roomName}"></span>
                        <p th:text="${room.roomDetail}"></p>
                        <i class="material-icons small">av_timer</i>
                        <span th:text="${#temporals.format(room.beginDatetime, 'yyyy年MM月dd日 HH時mm分')}"></span>
                        <br />
                        <i class="material-icons small">swap_calls</i>
                        <br />
                        <i class="material-icons small">av_timer</i>
                        <span th:text="${#temporals.format(room.endDatetime, 'yyyy年MM月dd日 HH時mm分')}"></span>
                    </div>
                    <div class="card-action">
                        <a href="#">編集する</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
